.wrapper {
  padding-top: 75px;
}

.wrapper>.col-10 {
  margin: 0 auto;
  float: none;
}

.event-item {
  padding: 10px;
}

.event-item-image-section {
  margin: 0 auto;
  text-align: center;
}

.event-item-image-section img {
  width: 200px;
}

.event-item-information-section {
  text-align: center;
  margin: 10px 0;
}

.event-item-title-section {
  width: 80%;
  margin: 0 auto;
  font-family: "Nexa";
}

.event-item-date-section, .event-item-description-section {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
}

.event-item-description-section {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.event-categories label {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.event-categories li {
  list-style-type: none;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.event-categories li.active {
  background-size: 100% 88%;
}

.pagination-controls {
  text-align: center;
  margin-top: 50px;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(244, 174, 143, 0.9), rgba(0,0,0,0)) center top / 50% 0.2rem no-repeat;
  transition: background-size 0.25s ease-in;
  padding-top: 15px;
}

.pagination-controls p {
  display: inline-block;
}

#pages {
  margin: 0 10px;
}

#pages .page {
  font-family: 'Montserrat', sans-serif;
  margin: 0 8px;
  cursor: pointer;
}

.page.active, .page:hover {
  border-bottom: solid 1px black;
  padding-bottom: 2px;
}

.spacer-section {
  margin: 50px 0 0 0;
  height: 200px;
}

.spacer-section p {
  font-size: 6vw;
}

@media only screen and (max-width: 900px) {

  .event-item-image-section img {
    width: 200px;
  }

}
