.hero-section {
  overflow: hidden;
  display: block;
}

.trending-events, .about-us {
  padding: 30px;
}

.one .spacer-text p {
  font-size: 6vw;
}

.event-list {
  margin: 50px 0;
}

.event-item {
  padding: 10px;
}

.event-item-image-section {
  margin: 0 auto;
  text-align: center;
}

.event-item-image-section img {
  width: 200px;
}

.event-item-information-section {
  text-align: center;
  margin: 10px 0;
}

.event-item-title-section {
  width: 80%;
  margin: 0 auto;
  font-family: "Nexa";
}

.event-item-date-section, .event-item-description-section {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
}

.event-item-description-section {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.about-us {
}

.about-us-content {
  padding: 10px;
  margin-bottom: 50px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.about-us-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: left;
}

@media only screen and (max-width: 768px) {

  .about-us-content {
    width: 80%;
  }

}
