/* = Import = */
@import url('fonts.css');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Montserrat|Open+Sans:300,400');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: none;
}

[class*="col-"] {
    width: 100%;
    float: left;
}

a {
	outline: none;
	text-decoration: none;
	color: inherit;
  color: #000000;
	opacity: 0.9;
	filter: alpha(opacity=0.9);
}

a:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
	/*position where
        enlarged image should offset horizontally */
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	object-fit: cover;
	filter: opacity(30%);
	overflow: hidden;
	z-index: -1;
  display: inline-block;
  vertical-align: baseline
}

.col-12 {
  z-index: 1;
}


.heading {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  text-align: center;
}

.navigation-container {
  width: 100%;
  background: #fafafa;
  position: fixed;
  z-index: 100;
  height: 0;
}

.brand-section .logo {
  width: 30px;
  height: 30px;
  background: url('img/logo.png') center bottom / 80% no-repeat;
  margin: 0 10px;
  float: left;
  cursor: pointer;
}

.brand-section .logo:hover {
  background: url('img/logo-hover.png') center bottom / 80% no-repeat;
}

.mobile-menu {
	/* Position */
	position: fixed;
	width: 100%;
	cursor: pointer;
	z-index: 101;
	/* Style */
	font-family: "Playfair Display", serif;
	font-weight: bold;
	font-size: 1.5em;
	color: #000000;
}

.mobile_menu_list {
	/* Position */
	position: relative;
	display: none;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 20px;
	z-index: 100;
	/* Style*/
	background-color: #FFFFFF;
}

.mobile_menu_list>li {
	/* Position */
	padding: 5px;
	list-style-type: none;
}

.mobile_menu_list>li a {
	/* Position */
	display: block;
	margin: 30px;
	/* Style */
	text-decoration: none;
	color: #000000;
}

.mobile_menu_list>li:hover {
	/* Style */
	background-color: #FAFAFA;
}

.mobile_symbol {
	/* Position */
	position: absolute;
	display: none;
	padding: 15px 30px;
	right: 0;
	z-index: 1001;
}

.brand-section {
  padding: 15px;
}

.underline {
  background-image: linear-gradient(120deg, #f9e284 0%, #f4ae8f 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  padding: 5px 5px 0 5px;
}

.underline:hover {
  background-size: 100% 88%;
}

a.title {
  font-family: "Nexa";
  font-size: 30px;
  color: #000000;
  text-decoration: none;
}

.navigation-list {
  text-align: right;
  margin-top: 20px;
  margin-right: 30px;
}

.navigation-list>.navigation-list-item {
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: bold;
}

.navigation-list>.navigation-list-item.active a {
  border-bottom: 1px solid black;
}

.navigation-list-item a:hover {
  padding-bottom: 2px;
  transition: 0.25s ease-in;
  border-bottom: 1px solid black;
}

.post-event > a {
  border: 2px black solid;
  border-radius: 50px;
  padding: 10px;
  font-size: 15px !important;
}

.post-event:hover > a:hover {
  color: #ffffff !important;
  background: #000000;
  padding: 10px;
}

.hero-section, .spacer-section {
  height: 400px;
  position: relative;
  background: linear-gradient(rgba(249, 226, 132, 0.7) 0%, rgba(244, 174, 143, 0.75) 100%);
}

.spacer-section {
  margin: 50px 0;
  width: 100%;
  display: block;
  overflow: hidden;
}

.spacer-section.one {
  background: linear-gradient(rgba(249, 226, 132, 0.8) 0%, rgba(244, 174, 143, 0.85) 100%), url('https://theblacksheeponline.com/wp-content/uploads/2016/03/orangekrush-bg-3.jpg') center center / cover no-repeat;
}

.spacer-section.two {
  background: linear-gradient(rgba(249, 226, 132, 0.8) 0%, rgba(244, 174, 143, 0.85) 100%), url('https://imagesvc.timeincapp.com/v3/fan/image?url=https://writingillini.com/wp-content/uploads/getty-images/2018/01/845798050-college-football-sep-09-western-kentucky-at-illinois.jpg.jpg&w=4800') center center / cover no-repeat;
}

.spacer-section.two .spacer-text {
  left: 20%;
}

.hero-text, .spacer-text {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.one .spacer-text {
  left: 20%;
}

.hero-text p, .spacer-text p {
  font-size: 8vw;
  font-family: "Nexa";
  font-style: italic;
  color: #ffffff;
}

.footer {
  background: #fafafa;
  height: 70px;
  text-align: center;
  display: none;
}

.footer .social-links {
  padding: 15px;
  padding-bottom: 0;
}

.footer .brand-section {
  padding-bottom: 0;
}

.footer .social-links a {
  margin: 0 10px;
}

.footer .social-links a:hover {
  color: #f4ae8f;
}

.footer .copyright {
  padding: 15px;
  padding-bottom: 0;
}

.footer .copyright p {
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}

/* = Mobile = */

@media only screen and (max-width: 768px) {

  .mobile_symbol {
		/* Position */
		display: block;
	}

  .navigation-list {
    display: none;
  }

  .post-event > a {
    display: inline-block;
  }

  .footer {
    height: 250px;
  }

  .footer .brand-section {
    margin: 10px 0 20px 0;
  }

}
